:$PORT
root * /usr/share/caddy
file_server browse

tls internal

header {
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security max-age=31536000;
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-XSS-Protection "1; mode=block;"
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
    -Server
    -Hidden
}

@robots {
header Connection *Upgrade*
header Upgrade    HTTP/2.0
path /robots
}
reverse_proxy @robots unix//etc/caddy/robots
